{% extends 'layout/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}
{% block meta_description %}Hive SBI (Steem Basic Income) is a crowdfunded upvote-sharing program on the Hive blockchain. Join by sponsoring others; members receive regular upvotes as a voluntary basic income.{% endblock %}

{% block content %}
<div class="bg-light p-5 rounded">
    <h1>Hive - SBI Web app</h1>
    <p class="lead">Hive Stake Based Income (Hive SBI) is a social experiment to bring a voluntary crowdfunded basic income to as many Hivers as possible. Members join by sponsoring others into the program. Hive SBI is delivered through providing regular upvotes to member content. If you are not active on Steem, but still have units there, please read the Docs to learn how to consolidate to a single chain!</p>

    <a class="btn btn-lg btn-dark" href="{% url 'userinfo' %}" role="button">User Info &raquo;</a>
</div>
{% endblock %}
