<!doctype html>{% load static %}
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} | Hive SBI</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="{% block meta_description %}Hive SBI (Steem Basic Income) is a crowdfunded upvote-sharing program on the Hive blockchain that delivers passive rewards to members through recurring community votes.{% endblock %}">
  <meta name="author" content="Hive SBI">
  <link rel="canonical" href="https://www.hivesbi.com{{ request.get_full_path }}">

  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Hive SBI">
  <meta property="og:title" content="{% block og_title %}Hive SBI &mdash; Hive Stake Based Income{% endblock %}">
  <meta property="og:description" content="{% block og_description %}Hive SBI (Steem Basic Income) is a crowdfunded upvote-sharing program on the Hive blockchain that delivers passive rewards to members through recurring community votes.{% endblock %}">
  <meta property="og:url" content="https://www.hivesbi.com{{ request.get_full_path }}">
  <meta property="og:image" content="https://www.hivesbi.com{% static 'img/favicon.png' %}">

  <!-- twitter:title/description omitted deliberately: Twitter's crawler falls back to og:title/og:description -->
  <meta name="twitter:card" content="summary">

  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
  <link id="theme-style" rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.css' %}">
  <link id="theme-style" rel="stylesheet" href="{% static 'assets/plugins/bootstrap/icons-1.8.1/font/bootstrap-icons.css' %}">
  <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/main.css' %}">

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Hive SBI",
    "alternateName": "Hive Stake Based Income",
    "url": "https://www.hivesbi.com/",
    "logo": "https://www.hivesbi.com{% static 'img/favicon.png' %}",
    "sameAs": [
      "https://discord.gg/Z5KVQ5whKR",
      "https://peakd.com/@steembasicincome",
      "https://docs.hivesbi.com/"
    ]
  }
  </script>

  {% if GA_MEASUREMENT_ID %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ GA_MEASUREMENT_ID }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ GA_MEASUREMENT_ID }}');
  </script>
  {% endif %}

  {% block extrastyle %}{% endblock %}
</head>


<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">HIVE - SBI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">       
          <li class="nav-item">
            <a class="nav-link" href="https://discord.gg/Z5KVQ5whKR" target="_blank">Discord</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://docs.hivesbi.com/" target="_blank">Documentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://dashboard.hivesbi.com/public/dashboard/057097bc-3bd6-414b-b1ed-33efde8549a5" target="_blank">Dashboard Beta</a>
          <li class="nav-item">
            <a class="nav-link" href="https://content.hivesbi.com/" target="_blank">Recent Votes</a>
          <li class="nav-item">
            <a class="nav-link" href="https://peakd.com/@steembasicincome/posts" target="_blank">Updates</a>
          </li>
        </ul>
        

        {% comment %}
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% endcomment %}
      </div>
    </div>
  </nav>

  <main class="container">
    {% block content %}{% endblock content %}
  </main>

  <!-- Javascript -->
  {% block script %}
  <script src="{% static 'assets/plugins/jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'assets/plugins/popper.min.js' %}"></script>
  <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script> 
  <script src="{% static 'assets/js/main.js' %}"></script> 
{% endblock %}

  {% block extrascript %}{% endblock %}
</body>
</html> 
